# Dependências
node_modules/
.npm/

# Build gerado
dist/
web-build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db

# Bancos de dados
livraria.db
*.db
*.sqlite
*.sqlite3

# IDEs / editores
.vscode/
.idea/

# Ambiente
.env
.env.local
.env.*.local

# Outros
.expo/
.jsc/
coverage/
dist/